.custom-tab-bar {
    --background: #0a0b0b; /* Fondo blanco */
    --color: #ffffff; /* Color de iconos y texto */
    --color-selected: #0edb86; /* Color para el tab seleccionado */
  }
  
  .custom-tab-bar ion-tab-button {
    font-family: 'Montserrat', sans-serif;
  }
  
  .custom-tab-bar ion-tab-button ion-label {
    font-size: 0.8em; /* Tamaño de la fuente para el texto */
  }
  
  .custom-tab-bar ion-tab-button[aria-selected="true"] {
    color: var(--color-selected); /* Color al seleccionar una opción */
  }


  .menu-configuracion {
    position: absolute;
    bottom: 56px;
    right: 16px;
    z-index: 10;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  
    ion-list {
      margin: 0;
      padding: 0;
  
      ion-item {
        background: #333;
        color: #ffffff;
        --background-focused: rgba(14, 219, 134, 0.1);
        --color-focused: #0edb86;
        font-size: 1rem;
      }
  
      ion-item[color="danger"] {
        --color: #e74c3c;
        --color-focused: #c0392b;
      }
    }
  }
  

  @media (prefers-color-scheme: light) {
  .custom-tab-bar {
    --background: #ffffff;
    --color: #000000;
    --color-selected: #0edb86;
  }

  .menu-configuracion {
    background: #ffffff;
    color: #333;
  }

  .menu-configuracion ion-list ion-item {
    background: #ffffff; /* Fondo del ítem */
    color: #333; /* Texto del ítem */
    --background-focused: rgba(14, 219, 134, 0.1); /* Fondo al enfocar */
    --color-focused: #0edb86; /* Color del texto al enfocar */
  }

  .menu-configuracion ion-list ion-item[color="danger"] {
    --color: #e74c3c;
    --color-focused: #c0392b;
  }
}


//menu




