<ion-content [fullscreen]="true" class="perfil-content">
  <!-- Foto de perfil e información básica -->
  <div class="perfil-header">
    <div class="foto-circulo" (click)="openImageModal()" >
      <img [src]="profileImage" alt="Foto de perfil" class="foto-perfil" />
    </div>
    <div class="informacion-usuario">
      <h2>{{ nombre }}</h2>
      <a [href]="'tel:+56' + telefono" class="telefono">+56{{ telefono }}</a>
    </div>
  </div>


  <!-- Botones de acceso rápido -->
  <div class="botones-acceso">
    <ion-button button routerLink="/crearpost" class="agregarpost"> Agregar post</ion-button>
    <ion-button expand="block" class="boton-mis-sitios">Mis Sitios</ion-button>

    <!-- Publicaciones -->
    <ion-list>
      <ion-item *ngFor="let post of posts" class="publicacion-item">
        <ion-thumbnail slot="start">
          <img [src]="post.imageUrl" alt="Imagen de la publicación" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{ post.title }}</h3>
          <p>{{ post.description }}</p>
          <small>Categoría: {{ post.category }}</small>
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="verDetalles(post.id)">
          Ver detalles
        </ion-button>
      </ion-item>
    </ion-list>
    

    <ion-button expand="block" color="danger" (click)="logout()" class="boton-cerrar-sesion">Cerrar Sesión</ion-button>
  </div>
</ion-content>
