<ion-header [translucent]="true">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <ion-toolbar>
    <div class="logo-container">
      <img src="/assets/IMG_2214.PNG" alt="logo planAway" class="logo">
      <ion-title class="titulo">PlanAway</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" class="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content" side="end">
  <ion-header>
    <ion-toolbar class="menu">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button routerLink="/perfil" class="sperfil">Perfil</ion-item>
      <ion-item button (click)="logout()" class="slogout">Cerrar sesión</ion-item>
      <ion-item button routerLink="/crearpost" class="agregarpost"> Agregar post</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <div class="imagen-container">
    <img src="/assets/fondologin.jpg" class="imagenhome" alt="Fondo">

    <!-- Título encima de la imagen -->
    <h2 class="titulo-encima-imagen">¿Que estas Buscando?</h2>

    <div class="search-container">
      <ion-item>
        <ion-label>Selecciona una categoría:</ion-label>
        <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterPosts()">
          <ion-select-option value="">Todas</ion-select-option>
          <ion-select-option *ngFor="let category of categories" [value]="category.name">{{ category.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <!-- Sección de categorías con ID para desplazamiento -->
  <div id="categorias-section">
    <div *ngFor="let category of filteredCategories" class="categorias">
      <h2 class="NombreCategoria">{{ category.name }}s disponibles</h2>

      <!-- Grid container -->
      <div class="posts-grid">
        <div *ngFor="let post of category.posts" class="post-item">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ post.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="author-image-container">
                <img [src]="post.profileImageUrl" alt="Imagen de perfil del autor" class="author-image">
              </div>
              <p>{{ post.description }}</p>
              <p><strong>Publicado por: {{ post.author }}</strong></p>
              <p>{{ post.createdAt.toDate().toLocaleString() }}</p>
              <p><em>Categoría: {{ post.category }}</em></p>
              <p><em>Precio: {{ post.price }}</em></p>
              <ion-button [routerLink]="['/post-detail', post.id]" (click)="goToPostDetail(post.id)"
                class="botondetalle">Ver Detalles</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>