<ion-content>
  <ion-card *ngIf="post" class="post-card">

    <!-- Imagen principal -->
    <div class="main-image-container">
      <img src="{{ post.imageUrl }}" alt="Imagen de publicación" class="post-image">
      
      <!-- Imagen de perfil del anfitrión superpuesta en la esquina inferior izquierda -->
      <img src="{{ post.profileImageUrl }}" alt="Foto de perfil del anfitrión" class="host-profile-image">
    </div>

    <!-- Información del lugar -->
    <ion-card-content>
      <ion-card-title class="post-title">{{ post.title }}</ion-card-title>
      
      <!-- Información del anfitrión -->
      <div class="host-details">
        <p class="host-name">Anfitrión: {{ post.author }}</p>
        <a [href]="'tel:+56' + post.telefono" class="host-contact">Teléfono: +56{{ post.telefono }}</a>
      </div>
      
      <p class="post-location">{{ post.location }}</p>
      <p class="post-details">
        {{ post.capacity }}
        <ion-icon name="people-outline" class="capacity-icon"></ion-icon>
    
        <span [ngSwitch]="post.category">
          <ion-icon *ngSwitchCase="'piscina'" name="water-outline" class="category-icon"></ion-icon>
          <ion-icon *ngSwitchCase="'terraza'" name="sunny-outline" class="category-icon"></ion-icon>
          <ion-icon *ngSwitchCase="'quincho'" name="barbecue-outline" class="category-icon"></ion-icon>
          <ion-icon *ngSwitchCase="'cabaña'" name="home-outline" class="category-icon"></ion-icon>
        </span>
        {{ post.category }}
      </p>
    </ion-card-content>

    <!-- Sección de Calificación -->
    <ion-card-content class="ratings-section">
      <div class="rating-stars">
        <ion-icon name="star" class="rating-icon"></ion-icon>
        <ion-icon name="star" class="rating-icon"></ion-icon>
        <ion-icon name="star" class="rating-icon"></ion-icon>
        <ion-icon name="star" class="rating-icon"></ion-icon>
        <ion-icon name="star-outline" class="rating-icon"></ion-icon>
      </div>
      <p class="rating-text">{{ post.rating }} ({{ post.reviews }} reseñas)</p>
    </ion-card-content>

    <!-- Galería de Imágenes -->
    <ion-card-content class="image-gallery">
      <div class="gallery">
        <img src="{{ post.imageUrl }}" alt="Imagen principal" class="main-image">
        <div class="thumbnail-gallery">
          <ion-thumbnail *ngFor="let image of post.images">
            <img [src]="image" alt="Imagen del lugar">
          </ion-thumbnail>
        </div>
      </div>
    </ion-card-content>

    <!-- Sección de Descripción -->
    <ion-card-content class="description-container">
      <h2 class="section-title">
        <ion-icon name="information-circle-outline" style="vertical-align: middle; margin-right: 5px;"></ion-icon>
        Descripción
      </h2>
      <div class="description-wrapper">
        <div class="description-box-scroll" (scroll)="onScroll($event)">
          <p class="description-text" *ngFor="let paragraph of post.description.split('\n'); let i = index">
            {{ paragraph }}
          </p>
        </div>
        <div class="fade-overlay"></div> <!-- Difuminado siempre en la parte inferior -->
      </div>
    </ion-card-content>

    <!-- Sección de Comentarios -->
    <ion-card-content class="comments-section">
      <h2 class="section-title">Comentarios</h2>
      <div *ngFor="let comment of comments" class="comment-item">
        <ion-avatar class="comment-avatar" slot="start">
          <img [src]="comment.profileImageUrl" alt="Avatar del usuario" />
        </ion-avatar>
        <div class="comment-main">
          <div class="comment-info">
            <p class="user-name">{{ comment.userName }}</p>
            <span class="comment-date">{{ comment.createdAt | date: 'medium' }}</span>
          </div>
          <p class="comment-content">{{ comment.content }}</p>
        </div>
      </div>
      <div class="comment-input-container">
        <ion-textarea placeholder="Escribe un comentario..." [(ngModel)]="newComment"></ion-textarea>
        <ion-button fill="clear" (click)="addComment()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </div>
      <div class="comment-addres">
        <h2 class="section-title">Direccion</h2>
        <p>
          <strong>Dirección:</strong> 
          <a 
           *ngIf="post.lat && post.lng" 
            [href]="'https://www.google.com/maps?q=' + post.lat + ',' + post.lng" 
            target="_blank">
            {{ post.address }}
          </a>

        </p>

        <!-- Mapa -->
        <h2 class="section-title">Ubicacion</h2>
        <div id="map" style="height: 300px; width: 100%;"></div>
      </div>
    </ion-card-content>

    <!-- Calendario de reserva -->
    <ion-card-content>
      <ion-item class="calendar-item" *ngIf="seleccionandoFechaInicio">
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime 
          displayFormat="YYYY-MM-DD" 
          [(ngModel)]="fechaInicio" 
          (ionChange)="onFechaInicioSeleccionada($event)">
        </ion-datetime>
      </ion-item>
    
      <!-- Fecha de fin -->
      <ion-item class="calendar-item" *ngIf="!seleccionandoFechaInicio">
        <ion-label>Fecha de fin</ion-label>
        <ion-datetime 
          displayFormat="YYYY-MM-DD" 
          [(ngModel)]="fechaFin" 
          (ionChange)="onFechaFinSeleccionada($event)">
        </ion-datetime>
      </ion-item>

      <div class="selected-dates">
        <h3>Fechas seleccionadas:</h3>
        <p><strong>Inicio:</strong> {{ getFechaFormateada(fechaInicio) }}</p>
        <p><strong>Fin:</strong> {{ getFechaFormateada(fechaFin) }}</p>
      </div>
    
      <ion-button expand="full" (click)="reservar()" class="reserve-button">Reservar</ion-button>
      <div id="paypal-button-container"></div>
      <div *ngIf="reservaMensaje" class="reservation-message">{{ reservaMensaje }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
