<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <title>Pagina Principal</title>
</head>
<body>
    <header>
    <nav>
        <a href="#inicio">Inicio</a>
        <a href="#sobre">Sobre Nosotros</a>
        <a href="#servicios">Servicios</a>
        <a href="#contacto">Contacto</a>
    </nav>
    </header>

    <footer>
        <p>&copy; 2024 PlanAway. Todos los derechos reservados.</p>
    </footer>
</body>
</html>