<ion-content [fullscreen]="true">
  <ion-list *ngIf="pendingPosts.length > 0; else noPosts">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Publicaciones Pendientes</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let post of pendingPosts" lines="none">
        <ion-card>
          <ion-card-content class="post-content">
            <div class="post-thumbnail">
              <img [src]="post.imageUrl" alt="Imagen de publicación" />
            </div>

            <!-- Detalles de la publicación -->
            <div class="post-details">
              <h3 class="post-title">{{ post.title }}</h3>
              <!-- Contenedor de la descripción con barra de desplazamiento -->
              <div class="description-container">
                <p class="post-description">{{ post.description }}</p>
              </div>
              <p><strong>Autor:</strong> {{ post.author }}</p>
              <p><strong>Categoría:</strong> {{ post.category }}</p>
              <p><strong>Precio:</strong> ${{ post.price }}</p>
              <p><strong>Capacidad:</strong> {{ post.capacity }} personas</p>
              <p><strong>Dirección:</strong> {{ post.address }}</p>
              <p *ngIf="post.lat && post.lng">
                <strong>Ubicación:</strong>
                <a [href]="'https://www.google.com/maps?q=' + post.lat + ',' + post.lng" target="_blank">
                  Ver en Google Maps
                </a>
              </p>
              <p><strong>Fecha de Creación:</strong> {{ post.createdAt.toDate().toLocaleString() }}</p>
            </div>
          </ion-card-content>

          <ion-footer>
            <ion-toolbar>
              <!-- Botones de aceptar y eliminar -->
              <ion-buttons slot="start">
                <ion-button color="success" (click)="approvePost(post.id)">Aceptar</ion-button>
                <ion-button color="danger" (click)="deletePost(post.id)">Eliminar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ng-template #noPosts>
    <ion-item>
      <ion-label>No hay publicaciones pendientes de revisión.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">Volver a Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
