ion-header {
    background-color: #0edb86; /* Color del encabezado */
    color: white; /* Color del texto del encabezado */
  }
  
  ion-toolbar {
    --background: #0edb86; /* Color de fondo del toolbar */
  }
  
  .post-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 16px;
    max-width: 600px; /* Limitar el ancho de la tarjeta */
    margin: auto; /* Centrar la tarjeta */
  }
  
  .post-image {
    width: 100%; /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    max-height: 300px; /* Limitar la altura máxima de la imagen */
    object-fit: cover; /* Asegurarse de que la imagen cubra el contenedor sin distorsionarse */
  }
  
  ion-card-header {
    background-color: #f9f9f9; 
    padding: 16px;
    border-bottom: 1px solid #e0e0e0; 
  }
  
  ion-card-title {
    font-size: 1.5rem;
    color: #333; 
    margin-bottom: 4px;
  }
  
  ion-card-subtitle {
    font-size: 0.9rem;
    color: #666; 
  }
  
  .reserve-button {
    margin-top: 20px;
    --background: #0edb86;
    color: white; 
    font-weight: bold;
  }
  
  .reserve-button:hover {
    background-color: #067547; 
  }
  
  .reservation-message {
    margin-top: 10px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
  }

  .post-card {
    border-radius: 8px;
    overflow: hidden;
  }
  

  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    position: relative;
  }
  

  .profile-image-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: 16px;
    border: 2px solid white;
  }
  
  .profile-image-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
  }
  
 
  ion-card-content {
    padding: 16px;
    font-size: 14px;
    color: #555;
  }
  
  .reserve-button {
    margin-top: 16px;
  }
  