<ion-content [fullscreen]="true">
  <div class="titulo">
    <h4>Crear cuenta en <strong>PlanAway</strong></h4>
  </div>

  <div class="formulario">
    <ion-input [(ngModel)]="email" placeholder="Correo electrónico" class="primary-input" type="email"></ion-input>
    <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" class="primary-input" type="password"></ion-input>
  </div>

  <div *ngIf="errorMensaje" class="error-message">
    {{ errorMensaje }}
  </div>
  
  <div class="ion-margin-top botonregister">
    <ion-button expand="block" (click)="onRegister()">Crear Cuenta</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center yatengocuenta">
    <a routerLink="/login">Ya tengo una cuenta. <strong>Iniciar sesión</strong></a>
  </div>
</ion-content>
