.titulo {
    color: white;
    text-align: center;
    margin-top: 10%;
}

.titulo h4 {
    font-size: 30px;
}

.titulo strong {
    color: rgb(14, 219, 134);
}

.formulario {
    margin: 0 20%;
    color: white;
}

.botonregister {
    margin: 0 20%;
}

.yatengocuenta a {
    color: white;
    font-size: 22px;
}

.yatengocuenta a strong {
    color: rgb(14, 219, 134);
}

@media (max-width: 400px) {
    .titulo {
        margin-top: 40%;
    }
}

@media (min-width: 400px) and (max-width: 1200px) {
    .titulo {
        margin-top: 40%;
    }
}

@media (min-width: 1200px) {
    .titulo {
        margin-top: 15%;
    }
}

.error-message {
    color: red; // Puedes cambiar el color según tu diseño
    text-align: center;
    margin-top: 10px;
}

#correo {
    --background: #3c413f;
    --color: white;     
    padding: 10px;
    border-radius: 50px;
}

#contrasena {
    --background: #3c413f;
    --color: white;  
    padding: 10px;
    border-radius: 50px;
}