<!-- crear-post.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="title" placeholder="Título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="description" placeholder="Descripción"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="category" placeholder="Selecciona una categoría">
        <ion-select-option value="categoria1">Categoría 1</ion-select-option>
        <ion-select-option value="categoria2">Categoría 2</ion-select-option>
        <ion-select-option value="categoria3">Categoría 3</ion-select-option>
        <!-- Agrega más categorías según sea necesario -->
      </ion-select>
    </ion-item>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <ion-button expand="block" (click)="onCreatePost()">Crear Post</ion-button>
  </div>
</ion-content>
