.titulo {
    color: white;
    text-align: center;
    margin-top: 0px; /* Ajusta el margen superior del título */
    margin-bottom: 0; /* Elimina cualquier margen inferior */
}

.titulo h4 {
    font-size: 30px;
}

.titulo strong {
    color: #0edb86;
}

.formulario {
    margin: 0 20%;
    color: white;
}

.botonlogin {
    margin: 0 20%;
}

.notengocuenta a {
    color: white;
    font-size: 22px;
}

.error-mensaje{
    color: red;
    text-align: center;
}

.notengocuenta a strong {
    color: rgb(14, 219, 134);

}

.error-message {
    color: red; // Puedes cambiar el color según tu diseño
    text-align: center;
    margin-top: 10px;
}
.botonlogin {
    .btninicio {
      --background: #0edb86;
      --color: rgb(0, 0, 0);
  
      &:hover {
        --background: #067547;
        color: #ffffff;
      }
  
      &:active {
        --background: #000000;
      }
    }
  }

  .divlogo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; 
}

.logo {
    max-width: 200px; 
    height: auto;
    border-radius: 12px;
}

#correo {
    --background: #3c413f;
    --color: white;   
    padding: 10px;       
    border-radius: 50px;   
}

#contrasena {
    --background: #3c413f; 
    --color: white;         
    padding: 10px; 
    border-radius: 50px; 
}


