<ion-content class="all" [fullscreen]="true">
  <div class="background-overlay"></div> <!-- Fondo oscuro con transparencia -->

  <div class="divlogo"></div>

  <div class="titulo">
    <h4>Bienvenido a <strong>PlanAway</strong></h4>
  </div>

  <br>

  <div class="formulario">
    <ion-input [(ngModel)]="email" placeholder="Correo electrónico" class="primary-input" id="correo" type="email"></ion-input>
    <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" class="primary-input" id="contrasena" type="password"></ion-input>
  </div>

  <div class="ion-margin-top botonlogin">
    <ion-button expand="block" (click)="onLogin()" class="btninicio">Iniciar Sesión</ion-button>
  </div>

  <br>

  <div class="ion-margin-top ion-text-center notengocuenta">
    <a routerLink="/registro" class="textoregistro">¿No tienes una cuenta? <strong>Regístrate.</strong></a>
  </div>
</ion-content>
