<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img src="/assets/IMG_2214.PNG" alt="logo planAway" class="logo">
      <ion-title class="titulo">PlanAway</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" class="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content" side="end">
  <ion-header>
    <ion-toolbar class="menu">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button routerLink="/perfil" class="sperfil">Perfil</ion-item>
      <ion-item button routerLink="/crearpost"> Agregar post</ion-item>
      <ion-item button routerLink="/home">Home</ion-item>
      <ion-item button (click)="logout()" class="slogout">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>



<ion-content [fullscreen]="true">
  <div class="perfil-info">
    <h2>Mis Publicaciones</h2>
  </div>

  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-label>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <small>Categoría: {{ post.category }}</small>
        <ion-button (click)="verDetalles(post.id)">Ver detalles</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="posts.length === 0" class="no-posts">
    <p>No has realizado publicaciones aún.</p>
  </div>
</ion-content>
