<!-- perfil.page.html -->
<ion-content [fullscreen]="true">
  <div class="perfil-info">
    <h2>Mis Publicaciones</h2>
  </div>

  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-label>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <small>Categoría: {{ post.category }}</small>
        <ion-button (click)="verDetalles(post.id)">Ver detalles</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="posts.length === 0" class="no-posts">
    <p>No has realizado publicaciones aún.</p>
  </div>
</ion-content>
