<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Post</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="title" placeholder="Título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="description" placeholder="Descripción"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="searchTerm" placeholder="Buscar categoría" (ionInput)="filterCategories()"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select [(ngModel)]="category" placeholder="Selecciona una categoría">
        <ion-select-option *ngFor="let cat of filteredCategories" [value]="cat">{{ cat }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <ion-button expand="block" (click)="onCreatePost()">Crear Post</ion-button>
  </div>
</ion-content>
