.modificar-publicacion {
  --background: #f8f9fa;

  form {
    padding: 1rem;
  }

  form ion-item {
    --border-radius: 12px;
    --background: #ffffff;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  form ion-item ion-label {
    font-size: 1.4rem; /* Títulos más grandes */
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.5rem;
  }

  form ion-item ion-textarea {
    height: auto;
    min-height: 150px;
    max-height: 300px; /* Altura máxima para evitar que crezca demasiado */
    font-size: 1.3rem;
    line-height: 1.6;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f4f4f4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    color: #333333;
    resize: none; /* Evita que el usuario redimensione el área */
    overflow-y: auto; /* Barra de desplazamiento solo si es necesario */
    scrollbar-width: thin;
  }

  form ion-item ion-textarea::-webkit-scrollbar {
    width: 8px;
  }

  form ion-item ion-textarea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  form ion-item ion-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }

  form ion-item ion-input {
    font-size: 1.3rem;
    padding: 0.8rem;
  }

  form ion-item input[type="file"] {
    margin-top: 1rem;
  }

  .preview-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0.5rem 0;
  }

  form ion-button {
    font-size: 1.5rem;
    --border-radius: 8px;
    --background: #0edb86;
    --background-hover: #0bc77a;
    margin-top: 1rem;
    padding: 1rem;
  }

  form ion-button[type="button"] {
    --background: #e74c3c;
    --background-hover: #c0392b;
  }

  @media (prefers-color-scheme: dark) {
    --background: #181818;

    form ion-item {
      --background: #242424;
    }

    form ion-item ion-label {
      color: #fdfdfd;
    }

    form ion-item ion-textarea {
      background-color: #1e1e1e;
      box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
      border: 1px solid #333;
      color: #ffffff;
    }

    form ion-item ion-textarea::-webkit-scrollbar-thumb {
      background-color: #444;
    }

    form ion-button {
      --background: #0bc77a;
      --background-hover: #0aaf69;
    }

    form ion-button[type="button"] {
      --background: #c0392b;
      --background-hover: #a32620;
    }
  }
}
