.all {
  --background: #181818;

  
  .image-container {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .info-card {
    margin: 16px;
    color: #f8f9fa;
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 8px;

    .description-scroll {
      max-height: 100px;
      overflow-y: auto;
      background-color: #1e1e1e;
      padding: 8px;
      border-radius: 8px;
      color: #fdfdfd;
      border: 1px solid #333;
    }
    p {
      margin: 8px 0;
      ion-icon {
        color: #0edb86;
        margin-right: 8px;
      }
    }
  }

  .map-container {
    margin: 16px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .actions {
    margin: 16px;
    ion-button {
      margin-top: 8px;
    }
  }

  .reservas-card {
    margin: 16px;
    color: #f8f9fa;
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    .no-reservas {
      text-align: center;
      color: #aaa;
    }
  }

  @media (prefers-color-scheme: light) {
    --background: #ffffff;

    .info-card {
      color: #000000;
      background-color: #f8f9fa;

      .description-scroll {
        background-color: #ffffff;
        color: #333333;
        border: 1px solid #cccccc;
      }
    }

    .reservas-card {
      background-color: #f8f9fa;
      color: #000000;
      .no-reservas {
        color: #333333;
      }
    }

    .map-container {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
