<ion-header class="toolbar-header">
  <ion-toolbar>
    <ion-title class="title-animation">Crea tu Publicación</ion-title>
    <ion-buttons slot="end">
      <ion-button class="back-button" (click)="onBack()">
        <ion-icon name="arrow-back" class="back-icon"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Tarjeta de detalles básicos -->
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Detalles Básicos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input type="text" [(ngModel)]="title" name="title" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="description" name="description" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoría</ion-label>
        <ion-select [(ngModel)]="category" name="category" required>
          <ion-select-option *ngFor="let category of filteredCategories" [value]="category">{{ category }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta de ubicación -->
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Ubicación</ion-card-title>
      <div class="search-container">
        <input id="pac-input" type="text" placeholder="Buscar ubicación" />
      </div>
    </ion-card-header>
    <ion-card-content>
      <div>
        <div #map id="map" style="height: 300px;"></div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta de precios y opciones -->
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Precio y Opciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="price" name="price" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Capacidad</ion-label>
        <ion-input type="number" [(ngModel)]="capacity" name="capacity" required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta de imagen -->
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Imagen de la propiedad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Seleccionar Imagen</ion-label>
        <input type="file" (change)="onImageSelected($event)" accept="image/*" />
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Botón Crear Post -->
  <ion-footer class="form-footer">
    <ion-button expand="full" (click)="onCreatePost()" class="create-post-button">
      <ion-icon name="add-circle-outline"></ion-icon> Crear Post
    </ion-button>
  </ion-footer>

  <ion-toast
  [isOpen]="showSuccessToast"
  message="La publicacion se subio correctamente"
  icon="checkmark-circle-outline"
  position="top"
  duration="3000"
  color="success"
  cssClass="custom-toast"
></ion-toast>


  <ion-alert
  *ngIf="showErrorAlert"
  header="Error"
  message="{{ errorMessage }}"
  buttons="OK">
</ion-alert>

</ion-content>
