<ion-content [fullscreen]="true" class="all">
  <div class="background-overlay">
    <div class="divlogo"></div>

    <div class="titulo">
      <h4>Crear cuenta en <strong>PlanAway</strong></h4>
    </div>

    <div class="formulario">
      <!-- Nombre -->
      <div *ngIf="step === 1">
        <ion-input [(ngModel)]="nombre" placeholder="Nombre completo" class="primary-input" type="text" id="nombre"></ion-input>
      </div>

      <!-- Correo -->
      <div *ngIf="step === 2">
        <ion-input [(ngModel)]="email" placeholder="Correo electrónico" class="primary-input" type="email" id="email"></ion-input>
      </div>

      <!-- Contraseña -->
      <div *ngIf="step === 3">
        <ion-input [(ngModel)]="contrasena" placeholder="Contraseña" class="primary-input" type="password" id="contrasena"></ion-input>
      </div>

      <!-- Teléfono -->
      <div *ngIf="step === 4">
        <ion-input [(ngModel)]="telefono" placeholder="Número telefónico" class="primary-input" type="tel" id="telefono"></ion-input>
      </div>

      <!-- Género -->
      <div *ngIf="step === 5">
        <ion-select [(ngModel)]="genero" placeholder="Género" class="primary-input" id="genero">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </div>

      <!-- Campo de Fecha de Nacimiento -->
      <div *ngIf="step === 6">
        <ion-input [(ngModel)]="fechaNacimiento" placeholder="Fecha de nacimiento" class="primary-input" type="date" id="fechaNacimiento"></ion-input>
      </div>

      <!-- Campo de Foto de Perfil -->
      <div *ngIf="step === 7">
        <label class="custom-file-label">
          Subir foto de perfil
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
        </label>
      </div>
    </div>

    <!-- Botones de navegación -->
    <div class="botonregister">
      <ion-button *ngIf="step < 7" expand="block" (click)="nextStep()">Siguiente</ion-button>
      <ion-button *ngIf="step > 1" expand="block" (click)="prevStep()">Anterior</ion-button>
      <ion-button *ngIf="step === 7" expand="block" (click)="onRegister()" class="botonregistro">
        Crear Cuenta
      </ion-button>
    </div>

    <div class="ion-margin-top ion-text-center yatengocuenta">
      <a routerLink="/login">Ya tengo una cuenta. <strong>Iniciar sesión</strong></a>
    </div>
  </div>
</ion-content>
