<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h4>Iniciar sesión</h4>
  </div>

  <div class="formulario">
    <ion-input placeholder="Correo electrónico" class="primary-input" type="email"></ion-input>
    <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>
  </div>

  <div class="ion-margin-top ion-text-center forget">
    <a href="#">Recuperar contraseña</a>
  </div>

  <div class="ion-margin-top botonlogin">
    <ion-button expand="block">Iniciar sesión</ion-button>
  </div>
</ion-content>
