.titulo {
    color: black;
    text-align: center;
    margin-top: 10%;
  }
  
  .formulario {
    margin: 0 20%;
    color: black;
  }
  
  .botonlogin {
    margin: 0 20%;
  }
  
  @media (max-width: 400px) {
    .titulo {
      margin-top: 40%;
    }
  }
  
  @media (min-width: 400px) and (max-width: 1200px) {
    .titulo {
      margin-top: 40%;
    }
  }
  
  @media (min-width: 1200px) {
    .titulo {
      margin-top: 15%;
    }
  }
  