<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo">
    <h4>Iniciar sesión</h4>
  </div>

  <ion-input placeholder="Correo electronico" class="primary-input"></ion-input>
  <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <a>Recuperar contraseña</a>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block">Iniciar sesión</ion-button>
  </div>

</ion-content>
