<ion-content class="ion-padding">
  <!-- Botón de regreso al Home -->
  <div class="back-to-home">
    <ion-button fill="clear" color="primary" (click)="Home()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Inicio
    </ion-button>
  </div>

  <!-- Sección de Preguntas Frecuentes -->
  <h2>Preguntas Frecuentes</h2>
  <ion-list class="faq-list">
    <ion-item>
      <ion-label>
        <strong>¿Cómo puedo reservar un lugar?</strong>
        <p>Puedes buscar un lugar en la pestaña de inicio, seleccionarlo y luego utilizar el calendario para marcar la fecha de inicio y fin. Posteriormente, confirma el pago y tu reserva estará lista. Ante cualquier duda, puedes comunicarte con el dueño del recinto.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>¿Puedo cancelar una reserva?</strong>
        <p>Sí, puedes cancelar una reserva desde tu perfil. Dirígete a la sección de reservas y selecciona la opción para cancelar.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>¿Cómo puedo modificar mi perfil?</strong>
        <p>Accede a la pestaña de configuración, selecciona "Editar Perfil", y realiza los cambios deseados. Asegúrate de guardar los cambios.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>¿Qué hago si tengo problemas para iniciar sesión?</strong>
        <p>Verifica que tus credenciales sean correctas. Si el problema persiste, contacta a soporte.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Sección de Contactar Soporte -->
  <h2>Contactar Soporte</h2>
  <div class="contact-info">
    <p><strong>Correo Electrónico:</strong> <a href="mailto:PlanAway&#64;gmail.com">PlanAway&#64;gmail.com</a></p>
    <p><strong>Teléfono:</strong> <a href="tel:+56988087970">+56 9 8808 7970</a></p>
  </div>

  <!-- Sección de Acerca de la App -->
  <h2>Acerca de la App</h2>
  <div class="about-app">
    <p>
      <strong>PlanAway</strong> es una aplicación diseñada para ayudarte a encontrar y reservar lugares para disfrutar tus momentos libres. 
      Nuestra app permite explorar lugares con piscinas, quinchos, terrazas y más, adaptándose a tus necesidades y ubicación.
    </p>
    <p>
      Nuestra misión es proporcionar una experiencia sencilla y segura para planificar tu descanso o eventos especiales.
      ¡Reserva, relájate y disfruta con PlanAway!
    </p>
  </div>
</ion-content>
