.titulo {
    color: white;
    text-align: center;
}

.titulo h4 {
    font-size: 30px;
}

.titulo strong {
    color: rgb(14, 219, 134);
}

.formulario {
    margin: 0 20%;
    color: white;
}

.botonregister {
    margin: 0 20%;
    margin-top: 1%;
}

.botonregister {
    .botonregistro {
      --background: #0edb86;
      --color: rgb(0, 0, 0);
  
      &:hover {
        --background: #067547;
        color: #ffffff;
      }
  
      &:active {
        --background: #000000;
      }
    }
  }

.yatengocuenta a {
    color: white;
    font-size: 22px;
}

.yatengocuenta a strong {
    color: rgb(14, 219, 134);
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#correo {
    --background: #3c413f;
    --color: white;
    margin-bottom: auto;
}

#contrasena {
    --background: #3c413f;
    --color: white;  
    margin-top: 1%;
}

.divlogo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; 
}

.logo {
    max-width: 200px; 
    height: auto;
    border-radius: 12px;
}